.body, 
.header,
.header-navbar,
.header-links,
.header-content,
.info-container,
.info-box,
.quote-container,
.call-to-action { display: flex; }

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.body {
    flex-direction: column;
    background-color: #fff;
    flex: 1;
    margin: 0px;
    font-family: sans-serif;
    font-size: 16px;
    align-content: center;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    flex: 1;
    flex-direction: column;
    gap: 1vh;
}

/* Navbar specific */
.header-navbar, .header-content, .info-section, .quote-text {
    margin: 1vh auto 5vh auto;
    width: 80%;
}
.header-navbar {
    flex: 1;
    flex-wrap: nowrap;
}
.header-logo { 
    min-width 100px; 
    font-size: 24px;
    font-weight: 800;
}
.header-links {
    margin-left: auto;
    gap: 3vw;
}

/* Header content box */
.header-content {
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 5vh;
    gap: 5vw;
}
.header-intro-text {
    flex: 1;
    width: 400px;
}
.header-intro-image {
    height: auto;
    width: 50%;
    object-fit: contain;
}
.header h1 {
    font-size: 48px;
    font-weight: 1000;
    margin: 0.5vh 0px 0px 0px;
}
.header-intro-text p {
    color: #c9cac8;
    margin: 0.25vh 0px 1.5vh 0px;
}
button {
    background-color: #3882f6;
    color: #fff;
    font-weight: 800;
    padding: 0.5vw 2vw;
    border-radius: 8px;
    border: 0px;
}

/* Info container */
.info-section {
    flex-direction: column;
    flex: 1;
    gap: 1vh;
}
.info-section h1 {
    font: bold 36px;
    color: #1f2937;
    text-align: center;
}
.info-container {
    flex-direction: row;
    flex-basis: 150px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
}
.info-box {
    flex-direction: column;
    flex: 1;
    max-width: 150px;
    text-align: center;
}
.info-box img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

/* Big quote box */
.quote-container {
    background-color: #e5e7eb;
    color: #1f2937;
}
.quote-text {
    width: 55%;
    margin: 60px auto;
}
.quote-text p {
    font: italic 26px sans-serif;
    font-weight: 100;
    text-align: left;
    margin: 0px auto;
}
.quote-text b {
    font: normal bold 18px;
    float: right;
}

/* Call to action */
.call-to-action-container {
    background-color: #3882f6;
    color: #fff;
    width: 80%;
    border-radius: 8px;
    justify-content: space-between;
    margin: 45px auto;
    padding: 10px 0;
    flex: 1;
    flex-wrap: wrap;
    gap: 2vh;
}
.call-to-action {
    width: 90%;
    flex: 1;
    justify-content: space-between;
    margin: 10px auto;
}
.call-to-action-text h1 {
    font: bold 18px sans-serif;
}
.call-to-action-text {
    font: normal 12px sans-serif;
}
.call-to-action button {
    border: 2px solid white;
    margin: auto 0 auto auto;
    min-width: 70px;
}